body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(228,233,243);
}

.MuiButton-containedPrimary:hover {
  background-color: rgb(242,246,255)!important;
  color:black;
}
@media only screen and (max-width: 1024px) {
  .MuiGrid-spacing-xs-3.MuiGrid-grid-xs-4 {
    flex-grow: 0;
    max-width: 100%!important;
    flex-basis: 100%!important;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .MuiGrid-grid-xs-8 {
    flex-grow: 0;
    max-width: 100%!important;
    flex-basis: 100%!important;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
